#columnFormat {
   border-style: solid;
   border-width: 2px;
   margin: 20px 0px 0px 50px;
   padding: 20px;
   width: 840px;
   height: auto;
   column-count: 2;
   column-gap: 50px;
   column-rule: 2px solid black;
}

a:link {
   color: white;
}

a:visited {
      color: white;
}

h1 {
   color: white;
   font-family: 'Dancing Script', cursive;
   text-align: center;
   text-shadow: 5px 5px 10px black;
}

h2 {
   color: white;
   font-family: 'Dancing Script', cursive;
   margin: 120px 10px 0px 50px;
   text-shadow: 5px 5px 10px black;
}

h2#lessMargin {
   font-family: 'Dancing Script', cursive;
   margin: 30px 0px 0px 50px;
   text-shadow: 5px 5px 10px black;
}

h3 {
   font-family: 'Dancing Script', cursive;
   margin: 0px 0px 0px 50px;
   text-shadow: 5px 5px 10px black;
}

body {
   margin: 0;
   background-repeat: no-repeat;
   background-image: 
	 radial-gradient(#320f4b, #365171);
}

#menu{
   width: 100%;
   margin: 20px 0;
   padding: 0;
   list-style: none;  
   box-shadow: 5px 5px 5px #89AD31;
   float: left;
}

#menu ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
}

#menu > li{
   float: left;
   font-family: 'Dancing Script', cursive;
   margin-right: 0.5em;
}

#menu a{
   display: block;
   width: 12em;
   height: 20px;
   color: white;
   background-color: #583b6d;
   text-decoration: none;
   text-align: center;
}

#menu a:hover {
   background-color: #4F578D;
}

.videos {
   display: inline-block;
   margin: 30px 80px 0px 90px;
}

.salsaClassIcon{
   display: inline-block;
   height: auto;
   width: auto;
   margin: 50px;
}

#colorChangeLabel {
   color: white;
   font-weight: bold;
   font-size: 110%;
   margin: 40px 0px 10px 50px;
}

#colorChangeInput {
   margin-left: 50px;
}

table {
   border: 2px solid black;
   margin-left: 50px;
   margin-top: 40px;
   margin-bottom: 180px;
} 

td {
   border: 2px solid black;
   text-align:left;
   padding:5px;
   width: 160px;
}

td:first-child {
    background-color: #89AD31;
}

td:nth-child(1) {
   text-align: center;
}

td:nth-child(5) {
   text-align: center;
}

tr {
   color: white;
}

th {
   background-color: #89AD31;
   color: white;
   border: 2px solid black;
   height: 50px;
   width: 160px;
}

#onlyWorksInChrome {
   color: red;
   font-weight: bold;
   font-size: 110%;
}

footer {
   text-align: center;
   text-shadow: 5px 5px 5px black;
}

/* ----------------------
       MEDIA QUERY
   ---------------------- */
   
@media (max-width : 600px) {
   #columnFormat {
      border-style: solid;
      border-width: 2px;
      margin: 20px 0px 0px 50px;
      padding: 20px;
      width: 300px;
      height: auto;
      column-count: 1;
      column-gap: 50px;
      column-rule: 2px solid black;
   }
   
   table {
      border: 2px solid black;
      margin-left: 5px;
      margin-top: 40px;
      margin-bottom: 180px;
   }
}
